.transaction-title {
  text-align: center;
}

.transaction-container {
  padding: 20px; /* Add padding around the container */
}

.search-container {
  display: flex;
  justify-content: space-around; /* Space items evenly */
  margin-bottom: 20px;
}

.search-input {
  padding: 8px;
  font-size: 16px;
  margin-right: 10px; /* Add margin between search input and dropdown */
}

.month-select {
  padding: 8px;
  font-size: 16px;
}
