.transaction-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.transaction-title {
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.search-input {
  flex: 1;
  margin-right: 10px;
}

.month-select {
  flex: 1;
}

.transaction-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.transaction-table th,
.transaction-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-container button {
  margin-left: 10px;
}
